:root {
  margin: O;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.manager {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(24, 1fr);

  background-color: rgb(240, 240, 240);
}

/*audio-pad-options div and its elements */
.audio-pad-options {
  grid-row: 1 / 3;
  grid-column: 2 / 24;

  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
}

.range-options {
  grid-column: 1 / 6;
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bank-options {
  grid-column: 12 / 14;
  grid-row: 2 / 3;

  border-radius: 0.3em 0.3em 0 0;
}
/*end of audio-pad-options div and its elements */

/*audio-pad div and its elements */
.audio-pad {
  grid-row: 3 / 12;
  grid-column: 13 / 24;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;

  border-radius: 0 1em 1em 1em;
  padding: 1em;
  background-color: rgb(223, 218, 211);
}

.audio-btn-wrap {
  display: flex;
  justify-content: center;

  clip-path: polygon(10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%, 0 15%);
}

.audio-btn {
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
/*end of audio-pad div and its elements */

/*recorder div and its elements */
.recorder {
  grid-row: 3 / 12;
  grid-column: 2 / 7;

  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
}

.recorder button {
  border-radius: 0.3em;
}
.record-btn {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.record-btn svg path {
  color: red;
}

.add-track-btn {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.add-track-btn svg path {
  color: limegreen;
}

.replay-btn {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
}

.replay-btn svg path {
  color: cornflowerblue;
}

.track-list {
  grid-row: 3 / 12;
  grid-column: 1 / 6;

  background-color: rgb(223, 218, 211);
  border-radius: 1em;
}

.track {
  display: flex;
  justify-content: center;
}

.track svg {
  align-self: flex-end;
}

.track svg path {
  color: cyan;
}
/*end of recorder div and its elements */